@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* sign in PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom right, #2773a5, white, #3498db);

}

.outerBox {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}

.innerBox {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: #ffffff73; */
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}

.signupHeader h1 {
    font-size: 2.5rem;
    color: #212121;
}

.signupHeader p {
    font-size: 0.9rem;
    color: #555;
}

.signupBody {
    margin: 20px 0;
}

.signupBody p {
    margin: 10px 0;
}

.signupBody p label {
    display: block;
    font-weight: bold;
}

.signupBody p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc ;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signupBody p input[type = "submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.signupBody p input[type = "submit"]:hover {
    background-color: #2773a5;
}

.signupFooter p {
    color: #555;
    text-align: center;
}

.signupFooter p a {
    color: #2773a5;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff );
    position: absolute;
}

.c1 {
    top: 100px;
    left: 40px;
}

.c2 {
    bottom: 200px;
    right: 50px;
}
/* navbar */
.option{
    display: flex;
    background-color: #2773a5;

}
.option  a{
    list-style: none;
    text-decoration: none;
    /* background-color: #2773a5; */
    color: white;
    margin: 8px;
    /* padding: 0px 2rem; */
}
.option li{
    padding: 0px 6rem;
}
.option a:hover{
    color: white    ;
}
/* main */
.addproject{
    padding-left: 15%;
}
/* .container{
/* background-image: linear-gradient(to bottom right, #2773a5, white, #3498db); */
/* }  */
center{
    margin-top: 10px;
}
#btn-project [type = "button"]{
    margin-left: 33%;
    margin-right: 5%;
}